{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="https://s.gravatar.com/avatar/bded7904d07d650f9a51fcdb7d9f2408?s=200" alt="profile image">
        </div>
        <h3>Hello! I'm <strong>{{ .Site.Params.author }}</strong>, a Computer Scientist.</h3>
        <h3>My topics of interest are algorithms, software architecture, software design, software maintenance and evolution.</h3>
        <h3>For more check out my academic &amp; professional information <a href="http://linkedin.com/in/{{ .Site.Params.Social.LinkedIn }}">resume</a>.</h3>
        <h3>If you want, you can contact me at <a href="mailto:{{ .Site.Params.Social.Email }}">{{ .Site.Params.Social.Email }}</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
